.history
node_modules
*.pkg
.env
.venv
outputs
*pycache*
package
logs
.terraform
skogapp-api/.terraform.lock.hcl
*.zip
.terraform.lock.hcl
terraform.tfstate.backup
zips
lambda-layers
skogappteigfilter-lambda-package
packaged.yaml
lambdas/packaged.yaml

.aws-sam
*.csv
